@use "@/styles/base/utils" as *;

.Flex {
	display: flex;
}

.FlexRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.FlexColumn {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin flex-responsive-scroll {
	overflow-x: auto;
	overscroll-behavior-x: contain;
	flex-wrap: nowrap !important;
	width: 100% !important;
	max-width: 100% !important;
	display: inline-flex !important;
	scroll-snap-type: x mandatory;

	@include custom-scrollbar;
}

.FlexScroll {
	@include flex-responsive-scroll;
}

.FlexResponsiveScroll {
	@include media("lg", "max") {
		@include flex-responsive-scroll;
	}
}
