@use "@/styles/base/utils" as *;

.Home {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;

	.HomeHeader {
		width: 100%;
		max-width: 1200px;
		height: 100vh;
		align-items: center;
		justify-content: center;

		@include media("sm", "max") {
			height: 60vh;
			gap: 40px;
		}

		.HomeHeaderContent {
			width: 50%;
			height: 100%;
			justify-content: center;
			gap: 12px;

			&:nth-child(2) {
				align-items: center;
				justify-content: end;
				padding: 0 32px 0 0;
			}

			.Hero {
				width: 378px;
				height: 378px;
				aspect-ratio: 1/1;
				background: var(--primary-100);
				border-radius: 50%;
				position: relative;

				.HeroImage {
					aspect-ratio: 1/1;
					border-radius: 50%;
					background: var(--soft-white);
					position: absolute;

					&:nth-child(1) {
						width: 180px;
						height: 180px;
						top: 0;
						right: 0;
					}

					&:nth-child(2) {
						width: 150px;
						height: 150px;
						top: -10%;
						left: 0;
					}

					&:nth-child(3) {
						width: 215px;
						height: 215px;
						bottom: -10%;
						left: 0;
					}

					&:nth-child(4) {
						width: 130px;
						height: 130px;
						bottom: 0;
						right: -10%;
					}

					.Image {
						width: 100%;
						height: 100%;
						border-radius: 50%;
						position: relative;

						.image {
							object-fit: cover;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}

	.HomeContainer {
		width: 100%;
		align-items: center;
		justify-content: center;

		&--1 {
			background: center/cover no-repeat url("../../../public/assets/images/flat-map.webp");
			background-color: #191919;
		}

		&--2 {
			background: #212121;
		}

		&--3 {
			background: #191919;
		}

		&--4 {
			background: var(--primary-100);
			color: var(--secondary);
		}

		.Content {
			width: 100%;
			max-width: 1200px;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 100px 0;
		}
	}
}
