@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellowDark: #e9b72f;
  --yellowMedium: #ffcd42;
  --yellowLight: #ffdc7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
